
/* ==========================================================================
   1. Variables
   ========================================================================== */

/*
 * Fonts 
 */
$base-font-size:    16px !default;
$base-line-height:  24px !default;

$base-font-family:  sans-serif !default;

$h1-size:           ($base-font-size * 2.250) !default; // .alpha (default: 36)
$h2-size:           ($base-font-size * 1.875) !default; // .beta  (default: 30)
$h3-size:           ($base-font-size * 1.500) !default; // .gamma (default: 24)
$h4-size:           ($base-font-size * 1.250) !default; // .delta (default: 20)
$h5-size:           $base-font-size !default; 			// .epsilon (default: 16)
$h6-size:           ($base-font-size * 0.875) !default; // .zeta (default: 14)

$giga-size:         ($base-font-size * 6.000) !default; // (default: 96) 
$mega-size:         ($base-font-size * 4.500) !default; // (default: 72)
$kilo-size:         ($base-font-size * 3.000) !default; // (default: 48)

/*
 * Brand Styling
 */

// Colours
$brand-color: 		#f65097 !default;;
$brand-face:		Arial, sans-serif !default;

// Corners
$brand-round:		3px !default;

$english-quotes:    true!default;


/*
 * Framework Bits
 */

 // Breakpoints
$lap-start:         640px;
$desk-start:        860px;
$desk-wide-start: 	1024px;

// Spacing
$base-spacing-unit: $base-line-height !default;
$half-spacing-unit: $base-spacing-unit / 2 !default;
$line-height-ratio: $base-line-height / $base-font-size;


/* ==========================================================================
   3. Utilities
   ========================================================================== */

@import 'partials/reset.scss';
@import 'partials/normalize.scss';
@import 'partials/mixins.scss';
@import 'partials/helpers.scss';

@import 'partials/base.scss';
@import 'partials/fonts.scss';

@import 'vendor/vendors.scss';
@import 'theme.scss';