/*------------------------------------*\
    FORMS
\*------------------------------------*/

fieldset{
    padding:$base-spacing-unit;
}

input[type="email"],
input[type="search"],
input[type="tel"],
input[type="text"],
textarea {
    background: #f0f0f0;
    color: #505050;
    border: 0;
    padding: 15px;
    &:focus {
      outline: 0;
    }
}


/**
 * Labels
 */
label,
.label{
    display:block;
}
    /**
     * Extra help text in `label`s, e.g.:
     *
       <label>Card number <small class=additional>No spaces</small></label>
     *
     */
    .additional{
        display:block;
        font-weight:normal;
    }


/*
 * Groups of checkboxes and radios, e.g.:
 *
   <li>
       <ul class=check-list>
           <li>
               <input /> <label />
           </li>
           <li>
               <input /> <label />
           </li>
       </ul>
   </li>
 *
 */
.check-list{
    list-style:none;
    margin:0;
}
    /*
     * Labels in check-lists
     */
    .check-label,
    .check-list label,
    .check-list .label{
        display:inline-block;
    }
