/* ==========================================================================
   HELPER CLASSES
   ========================================================================== */

/*
 * Container
 */
.container{
    padding:$base-spacing-unit;
}
.container > :last-child {
    margin-bottom:0;
}

/* Image replacement */
.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
    &:before {
        content: "";
        display: block;
        width: 0;
        height: 100%;
    }
}
/* Image link */
.img-link {
    display: block;
    height: 100%;
    overflow: hidden;
    width: 100%;
}

/*
 * Clearfix
 */
.cf{
    &:after{
        content:"";
        display:table;
        clear:both;
    }
}

/*
 * Hide content without 'display: none'
 */
@mixin accessibility{
    border:0!important;
    clip:rect(0 0 0 0)!important;
    height:1px!important;
    margin:-1px!important;
    overflow:hidden!important;
    padding:0!important;
    position: absolute!important;
    width:1px!important;
}
.accessibility,
.visuallyhidden{
    @include accessibility;
}

/* Hide from both screenreaders and browsers */
.hidden {
    display: none !important;
    visibility: hidden;
}
/* Hide visually and from screenreaders, but maintain layout */
.invisible {
    visibility: hidden;
}