
/* ==========================================================================
   Images
   ========================================================================== */

// Fluid images
img{
    max-width:100%;
}

// Non-fluid if height/width specified
img[width],
img[height]{
    max-width:none;
}

// Image placements (left, right, centre)
.img--right{
    float:right;
    margin-bottom:$base-spacing-unit;
    margin-left:$base-spacing-unit;
}
.img--left{
    float:left;
    margin-right:$base-spacing-unit;
    margin-bottom:$base-spacing-unit;
}
.img--center{
    display:block;
    margin-right:auto;
    margin-bottom:$base-spacing-unit;
    margin-left:auto;
}

// Images in 'figure' elements
figure > img{
    display:block;
}