
/* ==========================================================================
   Font Styles
   ========================================================================== */

/*
 * Headings
 */
h1, .alpha{
    @include font-size($h1-size);
}
h2, .beta{
    @include font-size($h2-size);
}
h3, .gamma{
    @include font-size($h3-size);
}
h4, .delta{
    @include font-size($h4-size);
}
h5, .epsilon{
    @include font-size($h5-size);
}
h6, .zeta{
    @include font-size($h6-size);
}

// Ultra-massive heading sizes
.giga{
    @include font-size($giga-size);
}
.mega{
    @include font-size($mega-size);
}
.kilo{
    @include font-size($kilo-size);
}

// Lists
ul,ol,dd{
    margin-left:2 * $base-spacing-unit;
    margin-left:(2 * $base-spacing-unit / $base-font-size)*1rem;
}
ul { 
    list-style-type: disc;
}
ol { 
    list-style-type: decimal;
}

// No bottom margin on nested lists
li{
    > ul,
    > ol{
         margin-bottom:0;
     }
}

// Slightly larger for introductory test
.blurb,
.lede,
.lead{
    @include font-size($base-font-size * 1.125);
}


/*
 * Quotes
 */

//$english-quotes:    true!default;

// English quotes - pre-define as 'null' so SASS doesn't break
$open-quote:    null;
$close-quote:   null;

@if $english-quotes != true{
    $open-quote:    \00AB;
    $close-quote:   \00BB;
}

blockquote{
	text-indent:-0.41em;
    quotes:"#{$open-quote}" "#{$close-quote}";

    p:before{
        content:"#{$open-quote}";
        content:open-quote;
    }
    p:after{
        content:"";
        content:no-close-quote;
    }
    p:last-of-type:after{
        content:"#{$close-quote}";
        content:close-quote;
    }

    p:last-of-type {
    	margin-bottom:0;
    }

    q:before{
        content:"\2018";
        content:open-quote;
    }
    q:after{
        content:"\2019";
        content:close-quote;
    }
}