/*
 * Quotes
 */

//$english-quotes:    true!default;

// English quotes - pre-define as 'null' so SASS doesn't break
$open-quote:    null;
$close-quote:   null;

@if $english-quotes != true{
    $open-quote:    \00AB;
    $close-quote:   \00BB;
}

blockquote{
	text-indent:-0.41em;
    quotes:"#{$open-quote}" "#{$close-quote}";

    p:before{
        content:"#{$open-quote}";
        content:open-quote;
    }
    p:after{
        content:"";
        content:no-close-quote;
    }
    p:last-of-type:after{
        content:"#{$close-quote}";
        content:close-quote;
    }

    p:last-of-type {
    	margin-bottom:0;
    }

    q:before{
        content:"\2018";
        content:open-quote;
    }
    q:after{
        content:"\2019";
        content:close-quote;
    }
}