// Social Links - MAIN
.social-links {
	background: #fff;
	h4 {
		font-family: $body-font;
		font-size: 1em;
		text-transform: uppercase;
	}
	nav {
		margin: auto;
		padding: 30px 0 60px;
		width: 305px;
	}
	ul { margin: 0; }
	li {
		background-image: url("../img/icon-social.png");
		float: left;
		height: 30px;
		list-style: none;
		margin-right: 38px;
		overflow: hidden;
		width: 30px;
		&:last-child {
			margin: 0;
		}
	}
	.linkedin { background-position: 0 0; 
		&:hover {
			background-position: 0 -30px;
		}
	}
	.twitter { background-position: -70px 0; 
		&:hover {
			background-position: -70px -30px;
		}
	}
	.facebook { background-position: -138px 0; 
		&:hover {
			background-position:-138px -30px;
		}
	}
	.youtube { background-position: -205px 0; 
		&:hover {
			background-position: -205px -30px;
		}
	}
	.google { background-position: -274px 0; 
		&:hover {
			background-position: -274px -30px;
		}
	}
	a {
		@extend .ir;
	}
}

// Social Links - FOOTER
#main-footer .social-links {
	h4 {
		color: #8a908a;
		float: left;
		font-size: 1em;
		text-transform: uppercase;
	}
	li {
		background-image: url("../img/icon-social-small.png");
		height: 15px;
		width: 15px;
		margin-right: 20px;
		&:last-child {
			margin: 0;
		}
	}
	.linkedin { background-position: 0 0; 
		&:hover {
			background-position: 0 -15px;
		}
	}
	.twitter { background-position: -35px 0; 
		&:hover {
			background-position: -35px -15px;
		}
	}
	.facebook { background-position: -70px 0; 
		&:hover {
			background-position:-70px -15px;
		}
	}
	.youtube { background-position: -105px 0; 
		&:hover {
			background-position: -105px -15px;
		}
	}
	.google { background-position: -140px 0; 
		&:hover {
			background-position: -140px -15px;
		}
	}
}